.post-date{
    background-color: #f4f4f4;
    padding: 5px 0;
}

#blogs a:link{
    text-decoration: none;
}

#blogs a .card p:hover{
    text-decoration: none;
}

.pagination .page-link {
    border-color: #ccc!important;
    border-radius: 0!important;
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.close:hover {
    color: red;
}

.delete-category{
    display: inline;
}